<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block stylesheets %}{{ stylesheets|raw }}{% endblock %}
    {% block javascripts_head %}{{ javascripts.inhead()|raw }}{% endblock %}
    <link rel="icon" type="image/x-icon" href="" />
</head>
<body {{ attributes|raw }}>
{% block body %} {{ content|raw }}{% endblock %}
{% block javascripts_footer %}{{ javascripts.infooter()|raw }}{% endblock %}
</body>
</html>